<section id="main" role="main">
  <div class="container-fluid">

    <app-page-header [title]="title" [breadcrumbs]="breadcrumbs">
    </app-page-header>


    <div class="row mb-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="input-group">
              <span class="input-group-text" id="icon-search">
                <i class="bi bi-search"></i>
              </span>
              <input type="text" ng-model="q" placeholder="Buscar..." class="form-control" />
              <a routerLink="create" class="btn btn-outline-secondary" type="button" id="button-addon2">Nuevo</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-2">
      <div class="col" *ngFor="let e of elements">
        <div class="card mb-3" (click)="edit(e)">
          <div class="card-header text-center">
            <i class="bi bi-calendar2-date-fill"></i>
            {{e.date | date}} a las {{e.date | date :'HH:mm'}}
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col text-center">
                <img src="assets/image/icons/teams-default4.png" class="card-img-top" style="width:70px;" alt="...">
                <div class="fw-bolder">{{e.local.name}}</div>
                <div class="fs-6 fw-light lh-1 text-muted">
                  <small>LOCAL</small>
                </div>
              </div>
              <div class="col text-center">
                <div style="padding-top: 20px">
                  <span class="fs-2 p-4 font-monospace">{{e.scoreLocal}}</span>
                  <span class="text-muted">v/s</span>
                  <span class="fs-2 p-4 font-monospace">{{e.scoreVisitor}}</span>
                </div>
                <div>
                  <div [ngSwitch]="e.state">
                    <span *ngSwitchCase="'PENDING'">PENDIENTE</span>
                    <span *ngSwitchCase="'IN_PROGRESS'">EN PROGRESO</span>
                    <span *ngSwitchCase="'FINALIZED'">FINAL</span>
                    <span *ngSwitchDefault>...</span>
                  </div>
                </div>
              </div>
              <div class="col text-center">
                <img src="assets/image/icons/teams-default4.png" class="card-img-top" style="width:70px;" alt="...">
                <div class="fw-bolder">{{e.visitor.name}}</div>
                <div class="fs-6 fw-light lh-1 text-muted">
                  <small>VISITANTE</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" *ngIf="!isLoading && elements.length == 0 && !hasError">
        <div class="card">
          <div class="card-body">
            <strong *ngIf="!flagErrorLoading">No existen {{title}}, presione el boton "nuevo" para agregar...</strong>
          </div>
        </div>
      </div>


      <div class="col-md-12 mb20 mt20 text-center" *ngIf="hasError">
        <div class="card">
          <div class="card-body">
            <strong class="text-secondary">{{errorMessage}}</strong>
            <div>
              <i style="font-size:100px;color: #EBEBEB;" class=" ico-heart-broken mb20 mt20"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</section>