<section id="main" role="main">
    <div class="container-fluid">
  
      <app-page-header [title]="title" [breadcrumbs]="breadcrumbs">
      </app-page-header>
  
      <div class="row mb-4">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="input-group">
                <span class="input-group-text" id="icon-search">
                  <i class="bi bi-search"></i>
                </span>
                <input type="text" ng-model="q" placeholder="Buscar..." class="form-control" />
                <a routerLink="create" class="btn btn-outline-secondary" id="button-addon2">Nuevo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
          <div class="col" *ngFor="let e of elements">
              <div class="card mb-3" (click)="view(e)">
                  <img src="assets/image/icons/basket-championship-gray.png" class="card-img-top" alt="...">
                  <div class="card-body">
                      <h6 class="card-title">{{e.name}}</h6>
                  </div>
              </div>
          </div>
      </div>
  
  
      <div class="row">
        <div class="col-md-12" *ngIf="!isLoading && elements.length == 0 && !hasError">
          <div class="card">
            <div class="card-body">
              <strong>No existen {{title}}, presione el boton "nuevo" para agregar...</strong>
            </div>
          </div>
        </div>
  
  
        <div class="col-md-12 mb20 mt20 text-center" *ngIf="hasError">
          <div class="card">
            <div class="card-body">
              <strong class="text-secondary">{{errorMessage}}</strong>
              <div>
                <i style="font-size:100px;color: #EBEBEB;" class=" ico-heart-broken mb20 mt20"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>