<div class="card mb-4">
    <div class="card-body">
        <div class="text-center">
            <div>
                <i class="bi bi-clock-fill"></i>
                {{timetext}}
            </div>
            <div>
                <h5 class="semibold mb0">{{quarter.length}}er Cuarto</h5>
                <span>--</span>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-primary" (click)="startCount()">
                <i class="bi bi-play-fill"></i>
                <div>Iniciar</div>
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="pauseCount()">
                <i class="bi bi-pause-fill"></i>
                <div>Pausar</div>
            </button>
            <button type="button" class="btn btn-outline-primary" (click)="stopQuarter()">
                <i class="bi bi-stop-fill"></i>
                <div>Suspender</div>
            </button>
        </div>
    </div>
</div>