<div class="card mb-4">
    <div class="card-body">
        <div class="text-center">
            <h4>
                <i class="bi bi-clock-fill"></i>
                {{timetext}}
            </h4>
            <h5 class="semibold mb0">{{quarter.length}}er Cuarto</h5>            
        </div>
    </div>
    <div class="card-footer text-center">
        <div class="btn-group" role="group" >
            <button type="button" class="btn btn-outline-primary" [disabled]="stateWatch=='play'" (click)="startCount()">
                <i class="bi bi-play-fill"></i>
                <div>Iniciar</div>
            </button>
            <button type="button" class="btn btn-outline-primary" [disabled]="stateWatch=='pause' || stateWatch=='stop'" (click)="pauseCount()">
                <i class="bi bi-pause-fill"></i>
                <div>Pausar</div>
            </button>
            <button type="button" class="btn btn-outline-danger" [disabled]="stateWatch=='stop'" (click)="stopQuarter()">
                <i class="bi bi-stop-fill"></i>
                <div>Detener</div>
            </button>
        </div>
    </div>
</div>