<nav class="navbar navbar-expand-md navbar-dark bg-dark p-0">

  <a class="navbar-brand text-center bg-secondary p-2" routerLink="/app">Basketball APP</a>

  <button class="navbar-toggler" type="button" (click)="toggle()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [class.show] = "showMenu" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="app">
            <i class="bi bi-back"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="app">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/app/championships">Campeonatos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="app">Salir</a>
      </li>
    </ul>
  </div>
</nav>