<form id="formPlayer" [formGroup]="formGroup">

  {{formGroup.errors|json}}

  <div class="row">
    <div class="col-12 col-md-6">

      <div class="mb-3">
        <h4 class="title semibold">Información Personal</h4>
      </div>

      <div class="mb-3">
        <label class="form-label">Rut</label>
        <input type="text" class="form-control" formControlName="id" [ngClass]="classFormControl('id')" [(ngModel)]="item.id">
      </div>

      <div class="mb-3">
        <label class="form-label">Nombres</label>
        <input type="text" class="form-control" formControlName="name" [ngClass]="classFormControl('name')" [(ngModel)]="item.name">
      </div>

      <div class="mb-3">
        <label class="form-label">Apellidos</label>
        <input type="text" class="form-control" formControlName="lastName" [ngClass]="classFormControl('lastName')" [(ngModel)]="item.lastName">
      </div>

      <div class="mb-3">
        <label class="form-label">Fecha de Nacimiento</label>
        <input type="date" class="form-control" formControlName="birthdate" [ngClass]="classFormControl('birthdate')" [(ngModel)]="item.birthdate" >
      </div>

      <div class="mb-3">
        <label class="form-label">Genero</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="MALE" formControlName="gender" [ngClass]="classFormControl('gender')" [(ngModel)]="item.gender">
          <label class="form-check-label">Masculino</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="gender" value="FEMALE" formControlName="gender" [ngClass]="classFormControl('gender')" [(ngModel)]="item.gender">
          <label class="form-check-label">Femenino</label>
        </div>

      </div>


    </div>

    <div class="col">

      <div class="mb-3">
        <h4 class="title semibold">Información del Jugador</h4>
      </div>

      <div class="mb-3">
        <label class="form-label">Estatura</label>
        <div class="input-group">
          <input type="number" class="form-control" formControlName="height" [ngClass]="classFormControl('height')" [(ngModel)]="item.height" >
          <span class="input-group-text">Metros</span>
        </div>
      </div>


      <div class="mb-3">
        <label class="form-label">Peso</label>

        <div class="input-group">
          <input type="number" class="form-control" formControlName="weight" [ngClass]="classFormControl('weight')" [(ngModel)]="item.weight">
          <span class="input-group-text">Kilogramos</span>
        </div>

      </div>

      <div class="mb-3">
        <label class="form-label">Número de Camiseta</label>

        <div class="input-group">
          <input type="number" class="form-control" formControlName="number" [ngClass]="classFormControl('number')" [(ngModel)]="item.number">
          <span class="input-group-text">#</span>
        </div>

      </div>

      <div class="mb-3">
        <label class="form-label">Posición</label>

        <select class="form-select" formControlName="position" [ngClass]="classFormControl('position')" [(ngModel)]="item.position" >
          <option value="0">Seleccione una posicion</option>
          <option value="POINT_GUARD">POINT_GUARD</option>
          <option value="SHOOTING_GUARD">SHOOTING_GUARD</option>
          <option value="SMALL_FORWARD">SMALL_FORWARD</option>
          <option value="POWER_FORWARD">POWER_FORWARD</option>
          <option value="CENTER">CENTER</option>
        </select>

      </div>

      <div class="mb-3">
        <div class="col-sm-12">
          <div class="d-grid gap-2">
            <button class="btn btn-primary" value="button"  [disabled]="formGroup.invalid || isLoading" (click)="save()">
              Guardar
              <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true" *ngIf="isLoading"></span>
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>





</form>