<section id="main" role="main">
  <div class="container-fluid">
    <app-page-header [title]="title" [breadcrumbs]="breadcrumbs">
    </app-page-header>


    <div class="row" *ngIf="element">
      <div class="col-md-6">

        <div class="card mb-3">
          <div class="card-body">
            <div class="clearfix">
              <h4 class="card-title float-start">Información Básica</h4>

              <div class="text-end float-end">
                <div class="btn-group btn-group-sm" role="group">
                  <a class="btn btn-outline-secondary" (click)="edit(element)">Editar Equipo</a>
                  <a class="btn btn-outline-danger" (click)="remove(element)">Eliminar</a>
                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-12">
                <b>Bio</b>
                <p>{{element.bio}} </p>
                <a href="#" target="_blank">Perfil Público</a>
              </div>
            </div>
            <hr/>
            <div class="row">
              <div class="col-md-12">
                Equipo
                <b>{{element.category}}</b> {{element.gender}}
              </div>
            </div>

          </div>
        </div>

        <div class="card mt10 mb-3">
          <div class="card-body">


            <div class="clearfix">
              <h4 class="card-title float-start">Staff Técnico</h4>
              <div class="text-end float-end">
                <div class="btn-group btn-group-sm" role="group">
                  <a class="btn btn-outline-secondary" [routerLink]="['/app','teams', element.oid, 'staff','create']">Agregar</a>
                </div>
              </div>
            </div>
            <hr>
            <div class="media-list">
              <div class="alert alert-secondary mt-3">
                <span class="media-text ellipsis nm">No se han asignado Staff</span>
              </div>

            </div>

          </div>
        </div>

      </div>
      <div class="col-md-6">
        <div class="card mt10">
          <div class="card-body">


            <div class="clearfix">
              <h4 class="card-title float-start">Jugadores</h4>
              <div class="text-end float-end">
                <div class="btn-group btn-group-sm" role="group">
                  <a class="btn btn-outline-secondary" [routerLink]="['/app','championships', oidChampionship, 'teams', element.oid, 'players','create']">Nuevo Jugador</a>
                </div>
              </div>
            </div>
            <hr>

            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let player of players" (click)="viewPlayer( player )">
                <div class="row" >
                  <div class="col-1" >
                    <div class="bg-secondary text-center text-white p-2" >
                      {{player.number}}
                    </div>
                  </div>
                  <div class="col-11" >
                    <div>
                      {{player.name}} {{player.lastName}}
                    </div>
                    <div class="text-muted" >
                        <small>{{player.position}}</small>
                    </div>

                  </div>
                </div>
              </li>
            </ul>
            <div class="list-group" *ngIf="players.length == 0">
              <div class="alert alert-secondary mt-3" ng-show="!element.players || element.players.length==0">
                <span class="media-text ellipsis nm">No se han asignado jugadores al equipo.</span>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="col-md-6">
        
      </div>
    </div>



    <div class="row">
      <div class="col-md-12 text-center" *ngIf="hasError">
        <div class="card">
          <div class="card-body">
            <strong class="text-secondary">{{errorMessage}}</strong>
            <div>
              <i style="font-size:100px;color: #EBEBEB;" class=" ico-heart-broken mb20 mt20"></i>
            </div>
          </div>
        </div>
      </div>
    </div>






  </div>
</section>