<section id="main" role="main">
    <div class="container-fluid">
        <app-page-header [title]="title" [breadcrumbs]="breadcrumbs">
        </app-page-header>

        <div class="row" *ngIf="element">
            <div class="col">
                <div class="card text-white bg-dark mb-4">
                    <div class="card-header text-center">
                        {{element.championship?.name}}
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col text-center">
                                <img src="assets/image/icons/teams-default4.png" class="card-img-top" style="width:70px;" alt="...">
                                <div class="fw-bolder">{{element.local?.name}}</div>
                                <div class="fs-6 fw-light lh-1">
                                    <small>LOCAL</small>
                                </div>
                                <div class="fs-2 p-2 font-monospace">{{element.localScore}}</div>
                            </div>
                            <div class="col text-dark ">
                                    <app-game-clock></app-game-clock>
                            </div>
                            <div class="col text-center">
                                <img src="assets/image/icons/teams-default4.png" class="card-img-top" style="width:70px;" alt="...">
                                <div class="fw-bolder">{{element.visitor?.name}}</div>
                                <div class="fs-6 fw-light lh-1">
                                    <small>VISITANTE</small>
                                </div>
                                <div class="fs-2 p-2 font-monospace">{{element.visitorScore}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6">

                <div class="card mb-3">
                    <div class="card-header">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm" (click)="openFormacion('local')">
                                <i class="bi bi-justify"></i>
                                Formación
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm">
                                <i class="bi bi-stopwatch"></i>
                                Minuto
                            </button>
                        </div>
                    </div>
                    <div class="card-body">


                        <div class="list-group ma15">
                            <div>
                                <ul class="list-group list-group-flush">
                                    <ng-container *ngFor="let player of element.local?.players">
                                        <li class="list-group-item" *ngIf="player.headline" (click)="optionPlayer(player, 'local')">
                                            <div class="row">
                                                <div class="col-2">
                                                    <div class="bg-dark text-white p-2 text-center">
                                                        {{player.number}}
                                                    </div>
                                                </div>
                                                <div class="col-9">
                                                    <div>
                                                        {{player.name}} {{player.lastName}}
                                                    </div>
                                                    <div class="text-muted">
                                                        <small>{{player.position}}</small>
                                                    </div>
                                                </div>
                                                <div class="col-1" >
                                                    <span class="badge rounded-pill bg-danger">{{player.fouls}}</span>
                                                </div>
                                            </div>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        Estadistica
                    </div>
                    <div class="card-body">

                        <div class="list-group ma15">
                            <ul class="list-group list-group-flush">
                                <ng-container *ngFor="let stat of localStats">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col-2">
                                                {{stat.value}} {{stat.type}}
                                            </div>
                                            <div class="col-10">
                                                {{stat.player.name}} {{stat.player.lastName}}
                                            </div>
                                        </div>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>

                    </div>
                </div>


            </div>
            <div class="col-md-6 col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm" (click)="openFormacion('visitor')">
                                <i class="bi bi-justify"></i>
                                Formación
                            </button>
                            <button type="button" class="btn btn-secondary btn-sm">
                                <i class="bi bi-stopwatch"></i>
                                Minuto
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="alert alert-warning mt20 ml10 mr10 text-center">
                            <span class="media-text ellipsis nm">No se han asignado jugadores a la formación.</span>
                        </div>
                    </div>
                </div>
                <div class="list-group ma15">
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" *ngFor="let player of element.visitor?.players">
                                <div class="row">
                                    <div class="col-1">
                                        <span class="badge bg-secondary pr-3">{{player.number}}</span>
                                    </div>
                                    <div class="col-11">
                                        <div>
                                            {{player.name}} {{player.lastName}}
                                        </div>
                                        <div class="text-muted">
                                            <small>{{player.position}}</small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




    </div>
</section>