<section id="main" role="main" *ngIf="element">
    <div class="container-fluid">
        <app-page-header [title]="title" [breadcrumbs]="breadcrumbs">
        </app-page-header>


        <div class="row mb-4">
            <div class="col">
                <app-game-scoreboard [game]="element" [quarters]="quarters" [activeQuarter]="activeQuarter" [gameStats]="gameStats" (events)="eventQuarters($event)"></app-game-scoreboard>
            </div>
        </div>


        <div class="row mb-4">
            <div class="col-md-6 col-sm-6">
                <app-game-lineup (stats)="eventStats($event)" [game]="element" [team]="element.local" [activeQuarter]="activeQuarter" [typeTeam]="'LOCAL'"></app-game-lineup>
            </div>
            <div class="col-md-6 col-sm-6">
                <app-game-lineup (stats)="eventStats($event)" [game]="element" [team]="element.visitor" [activeQuarter]="activeQuarter" [typeTeam]="'VISITOR'"></app-game-lineup>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-6 p-4">
                <app-game-list-players [players]="element.local?.players" ></app-game-list-players>
            </div>
            <div class="col-md-6 col-sm-6 p-4">
                <app-game-list-players [players]="element.visitor?.players" ></app-game-list-players>
            </div>
        </div>




    </div>
</section>