<div class="modal-header">
    <h5 class="modal-title">Formación {{team.name}} </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let player of team?.players" (click)="selectPlayer(player)">
            <div class="row">
                <div class="col-2">
                    <div class="bg-dark text-white p-2 text-center">
                        {{player.number}}
                    </div>
                </div>
                <div class="col-8">
                    <div>
                        {{player.name}} {{player.lastName}}
                    </div>
                    <div class="text-muted">
                        <small>{{player.position}}</small>
                    </div>

                </div>
                <div class="col-2">
                    <span class="badge bg-success" *ngIf="player.headline">Titular</span>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-primary" (click)="close()">Guardar</button>
    </div>
</div>